<div class="my-3 py-3"></div>
<section class="my-5 py-3 container">
<mdb-card>
    <mdb-card-header class="heavy-rain-gradient font-weight-bold">
      ABOUT US
    </mdb-card-header>
    <mdb-card-body class="cloudy-knoxville-gradient ">
      <mdb-card-title>Believers LoveWorld Incorporated, (a.k.a Christ Embassy) is a global ministry with a 
        vision of taking God’s divine presence to the nations of the world and to demonstrate the character 
        of the Holy Spirit. This is achieved through every available means, as the Ministry is driven by a 
        passion to see men and women all over the world, come to the knowledge of the divine life made available 
        in Christ Jesus.<br><br>
        Through the years, various arms of the Ministry have been birthed to effectively proclaim the gospel of 
        Jesus Christ. The Ministry nurtures a vibrant TV Ministry, Internet Ministry, the Healing School, Rhapsody 
        of Realities, and an Inner-city mission; where children without hope of a future are fed, housed, clothed, 
        educated and given a chance to live out their dreams. The Ministry also hosts various crusades in the 
        largest arenas in various countries where millions have been brought into the kingdom of God, and mighty 
        miraculous works have been demonstrated. The venues of such meetings are constantly filled to capacity.
        <br><br>
        This global mission has led to the establishment of an ever-widening network of hundreds of churches and 
        fellowships worldwide in all continents, affecting millions of people with a unique and timely revelation 
        of the new creation in Christ Jesus. The Ministry will stop at nothing in ensuring that the gospel of the 
        Lord Jesus Christ is preached in all the nations of the world as is expected by the Lord.
      </mdb-card-title>
    </mdb-card-body>
  </mdb-card>
</section>

<section class="pb-4 mb-4 container">
    <mdb-card>
        <mdb-card-header class="heavy-rain-gradient font-weight-bold">
            OUR STATEMENT OF FAITH
        </mdb-card-header>
        <mdb-card-body class="cloudy-knoxville-gradient ">
          <mdb-card-title>This is the statement of Bible doctrine as believed and taught by the Believers' 
            LoveWorld Inc. aka Christ Embassy. This statement of faith has its source in the Bible and is in 
            total agreement with the foundational principles of the doctrines of Christ. We believe that the 
            Bible contains the inspired and infallible Word of God. (2 Timothy 3:16, 2 Peter 1: 20-21)
              We believe that there is only one God eternally existent in three persons; God the Father, God 
              the Son and God the Holy Ghost. (Ephesians 4:5-6, Gen. 1:26, Matthew 3:16-17)
            <br>
            We believe in the deity of Christ. (John 1: 1-4; John 10:30; Hebrews 1:1-5)<br>
            a. He was born of a virgin (Matthew 1:18-25; Luke 1:30-35)<br>
            b. He was conceived of the Holy Ghost (Matthew 1:18-25, Luke 1:30-35)<br>
            c. He died (John 19:30-35)<br>
            d. He rose again from the dead bodily (John 20:25-29, Luke 24:36-40)<br>
            e. He ascended into heaven bodily (1 Thessalonians 4:16-17; Matthew 29-30)<br>
            
            We believe in the rapture of the church and the Second coming of Christ. (1 Thessalonians 4:16-17; Matthew 29-30)<br>
            We believe that the only means of being cleansed from sin is repentance and faith in the precious blood of Jesus (Acts 3:19, Luke 24:47; Ephesians 1:7)<br>
            We believe regeneration by the power of the Holy Spirit through the Word of God is essential for personal salvation (Titus 2:5, John 3:3-5, Ephesians 5:25-27)<br>
            We believe that the redemptive work of Christ on the cross provides divine healing for the body, salvation for the soul of everyone that believes. (1 Peter 2: 24;
             Acts 3: 16, Acts 9: 32 -35)<br>
            We believe that when an individual receives the Holy Ghost, he receives divine enablement for Christian service and witness. (Acts 1: 8; 2:4; 3:1 -26; 4:5 - 12)<br>
            We believe in the sanctifying power of the Holy Ghost. (Romans 15: 16; 1 Corinthians 6:11)<br>
            We believe in the final resurrection of both the saved and the lost; the former to eternal life and the latter to eternal judgement. (Revelations 20: 11 -15; 1 Corinthians 15: 12 - 23)<br>
          </mdb-card-title>
          <!-- <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>Go somewhere</a> -->
        </mdb-card-body>
      </mdb-card>
    </section>