<!-- Ministry Apps -->
<section class="team-section text-center my-5 container">

  <!-- heading button-->
  <button mdbBtn type="button" gradient="blue" rounded="true" outline="true" mdbWavesEffect class="my-5 wow fadeInDown">
    <h5 class="h5 py-1">Our Ministry Apps</h5>
  </button>

  <!--Grid row-->
  <div class="row text-center">

      <!--Pastor Chris Digital Library Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">

          <div class="testimonial wow fadeInDown">
              <!--PCDL icon image-->
              <div class="avatar mx-auto">
                  <img src="assets/img/pcdl.png" class="rounded-circle z-depth-1 img-fluid" 
                  alt="Pastor Chris Digital Library" title="Pastor Chris Digital Library">
              </div>
              <!--PCDL title-->
              <h5 class="h5 font-weight-bold blue-text mt-4">Pastor Chris Digital Library</h5>
              <h5 class="h5 font-weight-bold blue-text my-1 wow fadeInLeft" data-wow-delay="0.3s">
                <!--PCDL Download -->
                <strong>
                  <a href="https://pcdl.co/" target="_blank" class="dark-grey-text">
                    <span class="badge badge-pill primary-color py-2 my-2">Download Now</span>
                  </a>  
                  <a href="https://itunes.apple.com/bj/app/pastor-chris-digital-library/id649362246?mt=8" target="_blank" class="ml-1 mr-1">
                    <span class="badge badge-pill primary-color py-2"><i class="fa fa-apple" aria-hidden="true"></i></span>
                  </a>
                  <a href="https://play.google.com/store/apps/details?id=org.lwnm.digitallib" target="_blank" class="ml-1 mr-1">
                    <span class="badge badge-pill primary-color py-2"><i class="fa fa-android" aria-hidden="true"></i></span>
                  </a>
                </strong>
               <!-- /Download -->
              </h5>
             
           </div>

      </div>
      <!--/Grid column-->

       <!--Loveworld News Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

    <div class="testimonial wow fadeInDown">
        <!--Loveworld News icon-->
        <div class="avatar mx-auto">
            <img src="assets/img/loveworld-news.jpg" class="rounded-circle z-depth-1 img-fluid"
            alt="Loveworld News" title="Loveworld News">
        </div>
        <!--Loveworld News Title-->
        <h4 class="font-weight-bold blue-text mt-4">LoveWorld News</h4>
        <h5 class="font-weight-bold blue-text my-1 wow fadeInLeft" data-wow-delay="0.3s">
          <!-- Download Button -->
          <strong>
            <a href="https://loveworldnews.com/" target="_blank" class="dark-grey-text">
              <span class="badge badge-pill primary-color py-2">Download Now</span>
            </a>
            <a href="https://itunes.apple.com/us/app/loveworld-news/id881385468" target="_blank" class="ml-1 mr-1">
              <span class="badge badge-pill primary-color py-2"><i class="fa fa-apple" aria-hidden="true"></i></span>
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.loveworldnews.android" target="_blank" class="ml-1 mr-1">
              <span class="badge badge-pill primary-color py-2"><i class="fa fa-android" aria-hidden="true"></i></span>
            </a>
          </strong>
        </h5>
     </div>

    </div>
    <!--/Loveworld News Grid column-->

    <!--Healing School Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div class="testimonial wow fadeInDown">
          <!--Healing School icon-->
          <div class="avatar mx-auto">
              <img src="assets/img/healing-school.jpg" class="rounded-circle z-depth-1 img-fluid"
              alt="Healing School App" title="Healing School App">
          </div>
          <!--Healing School title-->
          <h4 class="font-weight-bold blue-text mt-4">Healing School</h4>
          <h5 class="font-weight-bold blue-text my-1 wow fadeInLeft" data-wow-delay="0.3s">
            <strong>
              <a href="http://www.enterthehealingschool.org/mobileapp/" target="_blank" class="dark-grey-text">
                <span class="badge badge-pill primary-color py-2">Download Now</span>
              </a>
              <a href="https://itunes.apple.com/us/app/healing-school-mobile/id703895884?ls=1&mt=8" target="_blank" class="ml-1 mr-1">
                <span class="badge badge-pill primary-color py-2"><i class="fa fa-apple" aria-hidden="true"></i></span>
              </a>
              <a href="https://play.google.com/store/apps/details?id=org.enterthehealingschool.hsmobile" target="_blank" class="ml-1 mr-1">
                <span class="badge badge-pill primary-color py-2"><i class="fa fa-android" aria-hidden="true"></i></span>
              </a>
            </strong>
          </h5>
        </div>
  
    </div>
    <!--Grid column-->

      <!--Kings Chat  Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">

        <div class="testimonial wow fadeInDown">
            <!--Kings Chat Icon-->
            <div class="avatar mx-auto">
                <img src="assets/img/kingschat.png" class="rounded-circle z-depth-1 img-fluid"
                alt="Download KingsChat" title="KingsChat">
            </div>
            <!--Kings Chat title-->
            <h5 class="h5 font-weight-bold blue-text mt-4">KingsChat</h5>
            <h5 class="h5 font-weight-bold blue-text my-1 wow fadeInLeft" data-wow-delay="0.3s">
                <!-- Kings Chat Download -->
              <strong>
                <a href="https://kingsch.at/h/" target="_blank" class="dark-grey-text">
                  <span class="badge badge-pill primary-color py-2">Download Now</span>
                </a>
                <a href="https://itunes.apple.com/pl/app/kingschat/id895560991?mt=8" target="_blank" class="ml-1 mr-1">
                  <span class="badge badge-pill primary-color py-2"><i class="fa fa-apple" aria-hidden="true"></i></span>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.joinkingschat.android&hl=en" target="_blank" class="ml-1 mr-1">
                  <span class="badge badge-pill primary-color py-2"><i class="fa fa-android" aria-hidden="true"></i></span>
                </a>
              </strong>
            </h5>
         </div>

    </div>
    <!--/Kings ChatGrid column-->

    <!--Ceflix Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

    <div class="testimonial wow fadeInDown">
        <!--Ceflix icon-->
        <div class="avatar mx-auto">
            <img src="assets/img/ceflix.png" class="rounded-circle z-depth-1 img-fluid"
            alt="Ceflix" title="Ceflix">
        </div>
        <!--Ceflix Title-->
        <h4 class="font-weight-bold blue-text mt-4">Ceflix</h4>
        <h5 class="font-weight-bold blue-text my-1 wow fadeInLeft" data-wow-delay="0.3s">
            <!-- Ceflix Download -->
          <strong>
            <a href="https://www.ceflix.org/home/downloads" target="_blank" class="dark-grey-text">
              <span class="badge badge-pill primary-color py-2">Download Now</span>
            </a>
            <a href="https://itunes.apple.com/ng/app/ceflix/id908737438?mt=8" target="_blank" class="ml-1 mr-1">
              <span class="badge badge-pill primary-color py-2"><i class="fa fa-apple" aria-hidden="true"></i></span>
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.imm.ceflix" target="_blank" class="ml-1 mr-1">
              <span class="badge badge-pill primary-color py-2"><i class="fa fa-android" aria-hidden="true"></i></span>
            </a>
          </strong>
        </h5>
     </div>

    </div>
    <!--/Ceflix Grid column-->

    <!--LoveWorld Radio Greece Grid column-->
    <div class="col-md-4 mb-md-0 mb-3">

      <div class="testimonial wow fadeInDown">
          <!--LoveWorld Radio icon-->
          <div class="avatar mx-auto">
              <img src="assets/img/loveworld-radio.jpg" class="rounded-circle z-depth-1 img-fluid"
              alt="Ceflix" title="Ceflix">
          </div>
          <!--LoveWorld Radio Title-->
          <h4 class="font-weight-bold blue-text mt-4">LoveWorld Radio Greece</h4>
          <h5 class="font-weight-bold blue-text my-1 wow fadeInLeft" data-wow-delay="0.3s">
              <!-- LoveWorld Radio Download -->
            <strong>
              <a href="http://cetunes.org/channel/lwrgreece" target="_blank" class="dark-grey-text">
                <span class="badge badge-pill pink darken-3 py-2">Listen Now</span>
              </a>
            </strong>
          </h5>
       </div>
  
      </div>
      <!--Grid column-->
    

  </div>
  <!--Grid row-->

</section>
<!-- Ministry Apps -->

<!--Pastor Chris Books v.3-->
<section class="text-center pb-3 my-3 container">

  <!--Ministry Books - Section heading-->
  <button mdbBtn type="button" gradient="blue" rounded="true" outline="true" mdbWavesEffect class="my-5 wow fadeInDown">
    <h5 class="h5 py-1">Pastor Chris Books</h5>
  </button>
  <!--Books row-->
  <div class="row">

    <!--Power of your mind Grid column-->
    <div class="col-lg-4 col-md-6 mb-4 wow rotateInDownLeft">

      <!--Card-->
      <mdb-card class="align-items-center">

        <!--Card image-->
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="assets/img/power-of-your-mind.jpg" alt="The power of your mind"
          title="The power of your mind" class="img-fluid"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <mdb-card-body class="text-center">
          <!--Category & Title-->
          <mdb-card-title>
            <a href="https://www.christembassy.org/?p=14579" target="_blank" class="dark-grey-text">
            <h5>The Power Of Your Mind</h5>
          </a>
          </mdb-card-title>
          
          <!-- Power of your mind read more -->
          <h5>
            <strong>
              <a href="https://www.christembassy.org/?p=14579" target="_blank" >
                <span class="badge badge-pill danger-color">Read More</span>
              </a>
            </strong>
          </h5>
          <!-- Power of your mind order now -->
          <h5>
            <strong>
              <a href="http://pastorchrisonline.org/featuredbook.php" href="_blank" class="dark-grey-text">
                <span class="badge badge-pill primary-color">Order Now</span>
              </a>
            </strong>
          </h5>

        </mdb-card-body>
        <!--Card content-->

      </mdb-card>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--How to make your faith work Grid column-->
    <div class="col-lg-4 col-md-6 mb-4 wow rotateInDownLeft">

      <!--Card-->
      <mdb-card class="align-items-center">

        <!--Card image-->
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="assets/img/faith-work.jpg" alt="How to make your faith work" title="How to make your faith work" class="img-fluid"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

         <!--Card content-->
         <mdb-card-body class="text-center">
          <!--Category & Title-->
          
          <mdb-card-title>
            <a href="https://www.christembassy.org/?p=14564" target="_blank" class="dark-grey-text">
            <h5>How to Make your faith work</h5>
          </a>
          </mdb-card-title>
          <!-- How to make your faith work read more -->
          <h5>
            <strong>
              <a href="https://www.christembassy.org/?p=14564" target="_blank" >
                <span class="badge badge-pill danger-color">Read More</span>
              </a>
            </strong>
          </h5>
          <!-- Power of your mind order now -->
          <h5>
            <strong>
              <a href="https://www.loveworldbooks.org/lwb/index.php/christian-books/faith-prosperity/item/how-to-make-your-faith-work"
               target="_blank" class="dark-grey-text">
                <span class="badge badge-pill primary-color">Order Now</span>
              </a>
            </strong>
          </h5>

        </mdb-card-body>
        <!--Card content-->

      </mdb-card>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Recreating your worldcolumn-->
    <div class="col-lg-4 col-md-6 mb-4 wow rotateInDownLeft">

      <!--Card-->
      <mdb-card class="align-items-center">

        <!--Card image-->
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="assets/img/recreating-your-world.jpg" class="img-fluid" alt="Recreating Your World Book by Pastor Chris Oyakhilome"
          title="Recreating Your World Book by Pastor Chris Oyakhilome"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

          <!--Card content-->
          <mdb-card-body class="text-center">
            <!--Category & Title-->
            <mdb-card-title>
              <a href="https://www.loveworldbooks.org/lwb/index.php/christian-books/christian-life-living/item/recreating-you-world" target="_blank" class="dark-grey-text">
              <h5>Recreating Your World</h5>
            </a>
            </mdb-card-title>
            
            <!-- Recreating Your World read more -->
            <h5>
              <strong>
                <a href="https://www.loveworldbooks.org/lwb/index.php/christian-books/christian-life-living/item/recreating-you-world" target="_blank" >
                  <span class="badge badge-pill danger-color">Read More</span>
                </a>
              </strong>
            </h5>
            <!-- Recreating Your World order now -->
            <h5>
              <strong>
                <a href="https://www.loveworldbooks.org/lwb/index.php/christian-books/christian-life-living/item/recreating-you-world" target="_blank" class="dark-grey-text">
                  <span class="badge badge-pill primary-color">Order Now</span>
                </a>
              </strong>
            </h5>
  
          </mdb-card-body>
          <!--Card content-->

      </mdb-card>
      <!--Card-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Products v.3-->

