<!--Giving section v.2-->
<div class="header-section">
<section class="section text-center mt-5 mb-0 container">
 
  <!--Section heading-->
  <button mdbBtn type="button" rounded="true" outline="true" mdbWavesEffect class="my-5 wow fadeInDown purple-gradient">
    <h5 class="h5 font-weight-bold py-1">GIVE ONLINE</h5>
  </button>

  <!--Tites and Partnership Grid row-->
  <div class="row d-flex justify-content-center">

    <!--Tithes Grid column-->
    <div class="col-lg-6 col-xl-5 mb-3">

      <!--Tithes image-->
      <div class="view overlay rounded z-depth-2  waves-light" mdbWavesEffect>
        <img src="assets/img/tithes.jpg" class="img-fluid wow fadeInDown" alt="Give tithes and offerings online">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Tithes body-->
      <mdb-card-body>
        <a href="" class="green-text">
          <h5 class="font-weight-bold mt-2 mb-3 wow fadeInDown">
            <i class="fa fa-line-chart"></i> Tithes & Offering</h5>
        </a>
        <h4 class="font-weight-bold wow fadeInDown">Give With <strong>KingsPay</strong></h4>
        <h4 class="font-weight-bold wow fadeInDown">Use Code:<strong>TNIOG</strong></h4>
        <!-- Download button -->
        <a href="https://www.kingsch.at/h/pay.html" target="_blank"  mdbBtn color="success" size="md" 
            rounded="true" class="waves-light wow fadeInLeft" data-wow-delay="0.3s" mdbWavesEffect> Give Now</a>
            <!-- Apple Icon -->
            <a href="https://itunes.apple.com/us/app/kingspay/id1042553235?ls=1&mt=8" target="_blank" 
                class="ml-1 mr-1" >
              <mdb-badge pill="true" color="green" class="wow fadeInLeft" data-wow-delay="0.3s"> 
                  <mdb-icon icon="apple" size="2x"></mdb-icon>
                </mdb-badge>
            </a>
            <!-- Android Icon -->
            <a href="https://play.google.com/store/apps/details?id=com.kingschat.kingspay" target="_blank" 
                class="ml-1 mr-1 ">
              <mdb-badge  pill="true" color="green" class="wow fadeInLeft" data-wow-delay="0.3s">
                  <mdb-icon icon="android" size="2x"></mdb-icon>
                </mdb-badge>
            </a>
      </mdb-card-body>

    </div>
    <!--/Tithes Grid column-->

    <!--Partnership Grid column-->
    <div class="col-lg-6 col-xl-5 mb-3">

      <!--Partnership image-->
      <div class="view overlay rounded z-depth-2  waves-light " mdbWavesEffect>
        <img src="assets/img/partnership.jpg" class="img-fluid wow fadeInDown" alt="Partnership using kingspay">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Partnership body-->
      <mdb-card-body>
        <a href="" class="green-text">
          <h5 class="font-weight-bold mt-2 mb-3">
            <i class="fa fa-line-chart"></i> Partnership</h5>
        </a>
        <h4 class="font-weight-bold wow fadeInDown">Give With <strong>KingsPay</strong></h4>
        <h4 class="font-weight-bold wow fadeInDown">Use Code:<strong>TNIOG</strong></h4>
          <!-- Download button -->
          <a href="https://www.kingsch.at/h/pay.html" target="_blank"  mdbBtn color="success" size="md" 
          rounded="true" class="waves-light wow fadeInLeft" data-wow-delay="0.3s" mdbWavesEffect> Give Now</a>
          <!-- Apple Icon -->
          <a href="https://itunes.apple.com/us/app/kingspay/id1042553235?ls=1&mt=8" target="_blank" 
              class="ml-1 mr-1" >
            <mdb-badge pill="true" color="green" class="wow fadeInLeft" data-wow-delay="0.3s"> 
                <mdb-icon icon="apple" size="2x"></mdb-icon>
              </mdb-badge>
          </a>
          <!-- Android Icon -->
          <a href="https://play.google.com/store/apps/details?id=com.kingschat.kingspay" target="_blank" 
              class="ml-1 mr-1 ">
            <mdb-badge  pill="true" color="green" class="wow fadeInLeft" data-wow-delay="0.3s">
                <mdb-icon icon="android" size="2x"></mdb-icon>
              </mdb-badge>
          </a>
         
      </mdb-card-body>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
</section>
</div>
<!--/Giving section v.2-->
<!-- --------------------------------------------------------------------------------------------------------- -->

<!--Virtual Church  -->
<section class="section text-center my-0">   
<!-- Parallax div container -->
<div class="view intro" style="background-image: url('assets/img/online-church-bg.jpg'); background-attachment: fixed; height: 900px;">
  <div class="full-bg-img mask rgba-white-light">
      <div class="container">
          <!--Virtual Church heading-->
            <button mdbBtn type="button" rounded="true" outline="true" mdbWavesEffect class="my-4 wow fadeInDown purple-gradient">
                <h5 class="h5 font-weight-bold py-1">ONLINE CHURCH</h5>
            </button>
            <!-- /Virtual ChurcH heading -->
          <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
            
            <!-- Virtual church div container -->
            <div class="row flex-center ">
                <div class="col-lg-5 col-xl-5 mb-3">
                  <!--Card-->
                  <mdb-card cascade="true" narrower="true">

                <!--Virtual Church image-->
                <div class="view view-cascade overlay waves-light wow fadeInDown" mdbWavesEffect>
                  <mdb-card-img src="assets/img/online.png" alt="virtual church"></mdb-card-img>
                  <a href="http://vcc.rhapsodyofrealities.org/login/reg.php" target="_blank">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--/Virtual Church image-->
                      <!-- Vvirtual Church Content -->
                      <mdb-card-body cascade="true" class="text-center wow fadeInDown">

                        <!--Virtual Church Title-->
                        <h4 class="card-title wow fadeInDown">Virtual Church</h4>
                        <!-- /Virtual Church Title -->

                        <!--Watch Now Link-->
                        <a href="http://vcc.rhapsodyofrealities.org/login/reg.php" target="_blank" mdbBtn rounded="true" 
                          class="btn deep-purple darken-4 waves-light  wow fadeInDown mdbBtn" mdbWavesEffect>Enter</a>
                        <!-- /Watch Now Link -->
                      </mdb-card-body>
                      <!--/.Card content-->
                  </mdb-card>
                  <!--/.Card-->
                </div>
            </div>
            <!-- End Virtual Church div container -->
  
        </div>
      </div>
  </div>
</div>

</section>