<!-- Top Image -->
<img class="mx-auto d-block w-100 img-fluid mt-5 pt-4" src="assets/img/worship.jpg" alt="November, our month of celebrating your riches">
    
<!-- ----------------------------Welcome-------- -->
<!-- nav container -->
<div class="my-5 container wow fadeInDown">
<!-- Nav Tabs -->
<mdb-tabset #staticTabs [buttonClass]="'classic-tabs tabs-primary'" [contentClass]="'card'"
 class="classic-tabs">
  <!--Panel 1-->
  <mdb-tab heading="WELCOME">
    <div class="row">
      <div class="col-12 wow fadeInLeft" data-wow-delay="0.3s">
        <br>
        <p>Are you looking for a place to worship? Are you looking for a place where the Word of God will come 
          alive in your spirit? Christ Embassy is the place to be! Christ Embassy is more than a church, it's a vision, God's vision. We are part of the global vision of Pastor Chris Oyakhilome and the Believers’ LoveWorld Ministries. We invite you to worship 
          with us and we are confident that the Word of God will come alive in your spirit as you do. God bless you!</p>
      </div>
    </div>
  </mdb-tab>
  <!--Panel 2-->
  <mdb-tab heading="ADDRESS">
    <div class="row" >
      <div class="col-12">
        <br>
        <strong>VENUE:</strong> ACHARNON 155, 104 46, ATHENS <br>
        <strong>SERVICE TIMES:</strong> SUNDAYS AT 10AM AND WEDNESDAYS AT 7PM. <br>
        <strong>CALL:</strong>+30 697 346 4742
      </div>
    </div>
  </mdb-tab>
  <!--Panel 3-->
  <mdb-tab heading="OUR VISION">
    <div class="row">
      <div class="col-12">
        <br>
        <p>Our vision is to take God's divine presence to the people and nations of the earth and to 
          demonstrate the character of the Spirit. <br>
            Our mission is to raise generations of men and women who will come into their inheritance to 
          fulfil God's dream with the purpose of bringing them into their inheritance.</p>
      </div>
    </div>
  </mdb-tab>
  <!--Panel 3-->
  <mdb-tab heading="CONTACT US">
      <div class="row">
        <div class="col-12 text-center">
          <br><br>
          <p>WE LOVE TO HEAR FROM YOU.</p>
          <button mdbBtn type="button" color="primary" rounded="true" class="waves-light" [routerLink]="[ '/contact' ]"
          mdbWavesEffect>CONTACT US</button>
        </div>
      </div>
    </mdb-tab>
</mdb-tabset>
</div>

  <!-- ------------------------------ -->
  <section class="section text-center my-0">   
      <div class="view intro" style="background-image: url(assets/img/online-church-bg.jpg); 
        background-attachment: fixed; height: 700px;">
        <div class="full-bg-img mask rgba-white-light">
            <div class="container">
                <div class="d-flex align-items-center d-flex justify-content-center" style="height: 650px">
                    <div class="row mt-5">
                        <div class="col-md-12 wow fadeIn my-3">
                            <div class="intro-info-content text-center">                          
                                  <div class="grey-textcontainer">
                                      <mdb-card>
                                        <mdb-card-header class="font-weight-bold wow fadeInLeft heavy-rain-gradient" data-wow-delay="0.3s">Being in Christ Embassy is more than being 
                                                in a church. It’s a vision; God's vision!
                                        </mdb-card-header>
                                        <mdb-card-body class="cloudy-knoxville-gradient">
                                            <mdb-card-title>
                                              <h6 class="wow fadeInLeft text-justify " data-wow-delay="0.3s">When you worship at Christ Embassy, you learn more 
                                                than just the letters; it’s the spirit of the word. The Spirit of God gets a hold of your life, and 
                                                then His Vision becomes real, not only to you, but He makes that vision real in such a way that others 
                                                get to know what the word of God really is by watching the word of God manifested in your life every day. 
                                                That is the reason we like people to come to Christ Embassy, that’s the reason they are invited. Because 
                                                they are being a part of something that is more than a church, it’s a vision, God’s Vision. 
                                                <br>Welcome to Christ Embassy.</h6>
                                            </mdb-card-title>
                                        </mdb-card-body>
                                      </mdb-card>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      </section>