
<div class="row">
    <div class="col-md-12">
      <!--Meet pastor Card-->
      <mdb-card cascade="true" wider="true">
  
        <!--Pastor's image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <img class="mx-auto w-100 mt-5 pt-4 img-responsive" 
          src="assets/img/meet_pastor.jpg" alt="Christ Embassy Greece - Meet Pastor Chris">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->

        <mdb-card-body cascade="true" class="text-center " title="Christ Embassy Greece">
          <!--Card content-->
          <!--Title-->
          <h4 class="card-title py-3">
            <strong>About Pastor Chris</strong>
          </h4>
  
          <mdb-card-text class="text-justify ">
              Pastor Chris Oyakhilome (D.Sc., D.D.), is the President of Believers' LoveWorld Inc. and of 
              Christ Embassy. Being a Man sent from God and a unique minister of the gospel of Jesus Christ, 
              his Spirit-filled and anointed leadership continues to propel a dynamic, multifaceted and global 
              ministry. As a pastor, teacher, healing minister, television host and best-selling author, 
              Pastor Chris daily exudes an insatiable passion to reach the peoples of the world with God's 
              manifested presence; a divine commission he has diligently focused on fulfilling for more than 
              30 years. 
          </mdb-card-text>
  
        </mdb-card-body>
        <!--/.Card content-->
     
      </mdb-card>
      <!--/.Card-->
    </div> 
</div>

<section class="container my-4 py-3">
    <mdb-accordion [multiple]="false">
        <mdb-accordion-item >
          <mdb-accordion-item-head>TEACHING MINISTRY</mdb-accordion-item-head>
          <mdb-accordion-item-body>
              Driven by a passion to see men and women all over the world, come to the knowledge 
              of the divine life made available in Christ Jesus, Pastor Chris has helped millions 
              experience a victorious and purposeful life in God’s word.
              He holds massive teaching and healing crusades like the Higher Life Conference and Night of 
              Bliss, hosted in various cities and nations of the world. One of such epochal meetings, which 
              held in Nigeria, witnessed an unprecedented crowd of over 3.5 million expectant people, gathered 
              in a single night’s event. He shares God’s Word in the simplest format to help God’s people 
              discover what they have in Christ. Presiding over an ever-widening network of Christ Embassy 
              Churches and Believers’ LoveWorld Campus fellowships, spanning all five continents, his teaching 
              ministry is building faith in the hearts of many in the body of Christ, providing each one with 
              divine insight into Christian virtues and realities. Episodes of “Pastor Chris Teaching” with 
              excerpts from teaching meetings with Pastor Chris, air DAILY on LoveWorld TV in the UK, LoveWorld 
              SAT in South-Africa, LoveWorld PLUS in Nigeria and major terrestrial television networks and 
              radio stations, across the African continent, in the United States of America, the United Kingdom, 
              Asia, Europe and around the world. His teachings are also available in all audio and video formats. 
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      
        <mdb-accordion-item>
          <mdb-accordion-item-head>HEALING MINISTRY</mdb-accordion-item-head>
          <mdb-accordion-item-body>
              The world renowned Healing School of Christ Embassy is the healing ministry of Pastor Chris, 
              committed to taking healing to the nations, and manifesting the healing works of Jesus Christ, 
              in our world today. The healing ministry of Pastor Chris has helped many receive healing through 
              the diverse operation of the gifts of the Spirit, making them well and restoring them to a state 
              of complete soundness.
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      
        <mdb-accordion-item>
          <mdb-accordion-item-head>PUBLISHING MINISTRY</mdb-accordion-item-head>
          <mdb-accordion-item-body>
              Pastor Chris is a prolific writer, and the best-selling author of the masterpiece “Rhapsody of 
              Realities,” the world’s Number 1 Daily Devotional, distributed monthly around the world in over 
              800 languages, with over half a billion copies distributed worldwide.
          </mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item>
          <mdb-accordion-item-head>TELEVISION MINISTRY</mdb-accordion-item-head>
          <mdb-accordion-item-body>
              Pastor Chris in the year 2003, pioneered the first 24-hour Christian Satellite Network, beaming 
              from Africa to the rest of the world. This has over time, given rise to five satellite stations, 
              the LoveWorld TV in the UK, LoveWorld SAT in South-Africa and LoveWorld PLUS in Nigeria, LoveWorld 
              Canada in Canada, LoveWorld US in the United States and still counting. Through the proficient 
              television ministry of Pastor Chris, millions of people have been reached with the beautiful 
              message of salvation and many lives have been transformed through this medium. On these Satellite 
              TV stations, which are currently available on various mobile platforms, Pastor Chris also host the
              flagship program “Atmosphere for Miracles”, a special program showcasing the miraculous, also 
              airing on major television networks in the United States of America, the United Kingdom, Asia, 
              Europe and around the world. This unique program daily brings God’s divine presence right into the 
              homes of millions, enabling them to believe for and receive their miracles.
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>
</section>