
<div class="head-img">
<img src="assets/img/ror.jpg" alt="Rhapsody of Realities Greece" class="mx-auto d-block wow rotateInDownLeft" >
</div>

<!-- Parallax div container -->
<div class="view intro" style="background-image: url('assets/img/glory.jpg'); background-attachment: fixed; height: 700px;">
  <div class="full-bg-img mask rgba-white-light">
      <div class="container">
          <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
         <!-- Ror div container -->
              <div class="row flex-center wow fadeInDown ">
            <!--ROR Card-->
                <mdb-card cascade="true" narrower="true">

                  <!--Card image-->
                  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/ror-logo.jpg"></mdb-card-img>
                    <a href="http://distribution.rhapsodyofrealities.org/dept/?team=GREEK" target="_blank">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--/Card image-->

                  <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <!--Title-->
                    <h4 class="card-title">Rhapsody Of Realities</h4>
                    <!--Text-->

                    <mdb-card-text>
                    Improving your life each day, one article at a time
                    </mdb-card-text>

                    <a href="http://distribution.rhapsodyofrealities.org/dept/?team=GREEK" target="_blank" class="btn deep-purple darken-4 waves-light" mdbWavesEffect>Download Now</a>

                  </mdb-card-body>
                  <!--/.Card content-->
                </mdb-card>
          <!--/.Card-->
          </div>
        </div>
      </div>
  </div>
</div>


